[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bignum"]
	path = bignum
	url = https://github.com/davidchall/bignum
[submodule "ggip"]
	path = ggip
	url = https://github.com/davidchall/ggip
[submodule "ipaddress"]
	path = ipaddress
	url = https://github.com/davidchall/ipaddress
[submodule "jinjar"]
	path = jinjar
	url = https://github.com/davidchall/jinjar
