[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bignum"]
	path = bignum
	url = https://github.com/davidchall/bignum
	shallow = true
	registered = true
[submodule "ggip"]
	path = ggip
	url = https://github.com/davidchall/ggip
	shallow = true
	registered = true
[submodule "ipaddress"]
	path = ipaddress
	url = https://github.com/davidchall/ipaddress
	shallow = true
	registered = true
[submodule "jinjar"]
	path = jinjar
	url = https://github.com/davidchall/jinjar
	shallow = true
	registered = true
[submodule "ggplot2"]
	path = ggplot2
	url = https://github.com/tidyverse/ggplot2
	shallow = true
	branch = v3.4.0-rc
	registered = false
[submodule "lifecycle"]
	path = lifecycle
	url = https://github.com/r-lib/lifecycle
	shallow = true
	registered = false
